/**
 * 公告样式
 * @author : yu.yuy
 * @createTime : 2012-07-31
 */
@import url("/css/base/bootstrap.min.css");
@import url("/css/base/bootstrap-responsive.css");


  body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  }
  
 .container{
	width:1170px;
 }


.ui-step-4{
	margin-bottom:20px;
}
.ui-step-4 ol, .ui-step-4 dl, .ui-step-4 li, .ui-step-4 dt, .ui-step-4 dd {
	margin:0px;
	padding:0px;
	list-style:none;
}
.ui-step-4 em{
	font-style:normal;
}



.goodslist {
	min-height:400px;
	padding:10px;
	border-radius: 4px;
	background:#efefef;
}
.goodslist ul, .goodslist li {
	margin:0px;
	padding:0px;
	list-style:none;
}
.goodslist ul {
}
.goodslist li {
	height:90px;
	margin-bottom:15px;
}
.goodslist li img{
	float:left;
	width:90px;
	height:90px;
	margin-right:10px;
}
.goodslist li .opt a{

}







.thumbnails .img {
	width:190px;
	height:190px;
	overflow:hidden;
}
.thumbnails .title {
	height:55px;
	overflow:hidden;
	line-height:150%;
}
.thumbnails .title a {
	color:#000;
}

.thumbnails li.hover  .thumbnail{
	background-color:#eef6ff;
	border:1px solid #cbe0ee;
}
.thumbnails .buy a{
	float:right;
}

.thumbnails li {
	position:relative;
}
.thumbnails li  .ext {
	position: absolute;
	top: 165px;
	left: 5px;
	width: 190px;
	height:30px;
	color: #EB1176;
	opacity: .8;
	background-color: #eee;
	display:none;
}
.thumbnails li  .num {
	display:inline-block;
	margin:6px 0 0 5px;
	padding-left:20px;
	background:url(heart.png) no-repeat left center;
}



.price  {
	font: 12px/1.5 arial,verdana;
	color: #979FAC;
}
.price b {
	font: bold 12px/1.5 verdana,arial;
	color: #F60;
}



.theme {
	background:url("bg.png") no-repeat center 50px #EFECE3;
}
.theme .gl{
	padding:10px;
	margin-top:350px;
	background:#fff;
}











.trackpanel{
	position:relative;
}
.trackmouse {
	position:absolute;
	width:50px;
	height:50px;
	background:url(a.png) no-repeat center center;
	border:3px solid #ccc;
	border-radius: 30px;
}







