<ol class="ui-step-bar">
                <li class="ui-step-start-done">
                    <dl>
                        <dt>
                            <strong>
                                <span class="ui-step-no">
                                    1
                                </span>
                                <em class="ui-step-name">
                                    筛选商品
                                </em>
                            </strong>
                        </dt>
                        <dd class="ui-step-status">
                        </dd>
                    </dl>
                </li>
                <li class="ui-step-cur">
                    <dl>
                        <dt>
                            <span class="ui-step-no">
                                2
                            </span>
                            <em class="ui-step-name">
                                生成专题页
                            </em>
                        </dt>
                        <dd class="ui-step-status">
                        </dd>
                    </dl>
                </li>
                <li class="">
                    <dl>
                        <dt>
                            <span class="ui-step-no">
                                3
                            </span>
                            <em class="ui-step-name">
                                步骤3
                            </em>
                        </dt>
                        <dd class="ui-step-status">
                        </dd>
                    </dl>
                </li>
                <li class="ui-step-end">
                    <dl>
                        <dt>
                            <span class="ui-step-no">
                                4
                            </span>
                            <em class="ui-step-name">
                                步骤4
                            </em>
                        </dt>
                        <dd class="ui-step-status">
                        </dd>
                    </dl>
                </li>
            </ol>