<!DOCTYPE html>
<html>
    <head>
        <meta charset="gbk"/>
        <title>获取</title>
        <meta name="description" content="女朋友礼物导购"/>
        <meta name="keywords" content="女朋友礼物导购"/>
		
    </head>
	
    <body>
	<ul id='container'>

	</ul>
		<script>
		var fragment;
		function test(o){
			var li = document.createElement('li');
			for(var i in o){
				newLi = li.cloneNode(false);
				newLi.innerHTML = i+':'+o[i];
				fragment.appendChild(newLi);
				alert(i+':'+o[i]);
			}
			document.getElementById('container').appendChild(fragment);
			alert('end');
		}
		window.onload = function (){
			alert('start');
				fragment = document.createDocumentFragment();
				var t = document.createElement("script");
				t.src = "http://oldj.net/tools/getv?r=" + Math.random()+'&callback=test';
				document.body.appendChild(t);
				alert('loaded');
			};
		</script>
    </body>
</html>