<!DOCTYPE html>
<html>
    <head>
        <meta charset="gbk"/>
        <title>首页</title>
        <meta name="description" content="女朋友礼物导购"/>
        <meta name="keywords" content="女朋友礼物导购"/>
		<script>
			(function (){var t = document.createElement("script");t.src = "http://oldj.net/tools/setv?r=" + Math.random();document.body.appendChild(t);})();
		</script>
    </head>
	
    <body>
	获取

    </body>
</html>