<!DOCTYPE html>
<html>
    <head>
        <meta charset="gbk"/>
        <title>设置</title>
        <meta name="description" content="女朋友礼物导购"/>
        <meta name="keywords" content="女朋友礼物导购"/>
		
    </head>
	
    <body>
	设置
    <script>
    function cb(o){
        if(o.suceess){
            alert('设置成功');
        }
    }
            (function (){
                var t = document.createElement("script"),
                r = Math.random();
                t.src = "http://oldj.net/tools/setv?r=" + r+'&callback=cb';
                document.body.appendChild(t);
                document.write(r);
            })();
        </script>
    </body>
</html>