<!DOCTYPE html>
<html>
    <head>
        <meta charset="gbk"/>
        <title>获取</title>
        <meta name="description" content="女朋友礼物导购"/>
        <meta name="keywords" content="女朋友礼物导购"/>
		
    </head>
	
    <body>
	<ul id='container'>

	</ul>
		<script>
		var fragment = document.createDocumentFragment();
		function test(o){
			var li = document.createElement('li');
			for(var i in o){
				newLi = li.cloneNode(false);
				newLi.innerHTML = i+':'+o[i];
				fragment.appendChild(newLi);
			}
			container.appendChild(fragment);
		}
			(function (){
				var t = document.createElement("script");
				t.src = "http://oldj.net/tools/getv?r=" + Math.random()+'&callback=test';
				document.body.appendChild(t);
			})();
		</script>
    </body>
</html>